.modal-content {
    background-color: #181a1b;
    color: white;
}

.close {
    color: white;
}

.preview {
    width: 40px;
    height: 40px;
    margin: 3px;
}

.selected {
    float: left;
}

.alert-custom {
    color:  #f169b4;
    background-color:#810c4d;
    border-color: #e50073;
}