<div class="container">
    <div class="text-center header">
        <button type="button" class="close" (click)=removeSpecificComponent()> <span>&times;</span> </button>
        <h2> {{ type }} {{ id }}</h2>
    </div>

    <div class="text-center buttonGrid">
        <button (click)="activateCell(id,0)" class="btn btn-outline-primary" [ngClass]="{'active': curState[0]}" name="{{id}}"> </button>
        <button (click)="activateCell(id,1)" class="btn btn-outline-primary" [ngClass]="{'active': curState[1]}" name="{{id}}"> </button>
        <button (click)="activateCell(id,2)" class="btn btn-outline-primary" [ngClass]="{'active': curState[2]}" name="{{id}}"> </button>
        <button (click)="activateCell(id,3)" class="btn btn-outline-primary" [ngClass]="{'active': curState[3]}" name="{{id}}"> </button>
        <br>
        <button (click)="activateCell(id,4)" class="btn btn-outline-primary" [ngClass]="{'active': curState[4]}" name="{{id}}"> </button>
        <button (click)="activateCell(id,5)" class="btn btn-outline-primary" [ngClass]="{'active': curState[5]}" name="{{id}}"> </button>
        <button (click)="activateCell(id,6)" class="btn btn-outline-primary" [ngClass]="{'active': curState[6]}" name="{{id}}"> </button>
        <button (click)="activateCell(id,7)" class="btn btn-outline-primary" [ngClass]="{'active': curState[7]}" name="{{id}}"> </button>
        <br>
        <button (click)="activateCell(id,8)" class="btn btn-outline-primary" [ngClass]="{'active': curState[8]}" name="{{id}}"> </button>
        <button (click)="activateCell(id,9)" class="btn btn-outline-primary" [ngClass]="{'active': curState[9]}" name="{{id}}"> </button>
        <button (click)="activateCell(id,10)" class="btn btn-outline-primary" [ngClass]="{'active': curState[10]}" name="{{id}}"> </button>
        <button (click)="activateCell(id,11)" class="btn btn-outline-primary" [ngClass]="{'active': curState[11]}" name="{{id}}"> </button>
        <br>
        <button (click)="activateCell(id,12)" class="btn btn-outline-primary" [ngClass]="{'active': curState[12]}" name="{{id}}"> </button>
        <button (click)="activateCell(id,13)" class="btn btn-outline-primary" [ngClass]="{'active': curState[13]}" name="{{id}}"> </button>
        <button (click)="activateCell(id,14)" class="btn btn-outline-primary" [ngClass]="{'active': curState[14]}" name="{{id}}"> </button>
        <button (click)="activateCell(id,15)" class="btn btn-outline-primary" [ngClass]="{'active': curState[15]}" name="{{id}}"> </button>
    </div>

    <div class="text-center footer">
        <button class="btn btn-outline-success mute" (click)="mute()" [ngClass]="{'active': curMute}">Mute</button>
        <label for="volume">Volume:</label>
        <input type="range" min="-12" max="12" [value]="volumes[id]" #volume (input)="changeVolume(volume.value)" name="volume">
    </div>
</div>