<div class="text-center">
    <button (click)="activateCell(0)" class="btn btn-outline-primary" [ngClass]="{'active': states[0]}"> </button>
    <button (click)="activateCell(1)" class="btn btn-outline-primary" [ngClass]="{'active': states[1]}"> </button>
    <button (click)="activateCell(2)" class="btn btn-outline-primary" [ngClass]="{'active': states[2]}"> </button>
    <button (click)="activateCell(3)" class="btn btn-outline-primary" [ngClass]="{'active': states[3]}"> </button>
    <br>
    <button (click)="activateCell(4)" class="btn btn-outline-primary" [ngClass]="{'active': states[4]}"> </button>
    <button (click)="activateCell(5)" class="btn btn-outline-primary" [ngClass]="{'active': states[5]}"> </button>
    <button (click)="activateCell(6)" class="btn btn-outline-primary" [ngClass]="{'active': states[6]}"> </button>
    <button (click)="activateCell(7)" class="btn btn-outline-primary" [ngClass]="{'active': states[7]}"> </button>
    <br>
    <button (click)="activateCell(8)" class="btn btn-outline-primary" [ngClass]="{'active': states[8]}"> </button>
    <button (click)="activateCell(9)" class="btn btn-outline-primary" [ngClass]="{'active': states[9]}"> </button>
    <button (click)="activateCell(10)" class="btn btn-outline-primary" [ngClass]="{'active': states[10]}"> </button>
    <button (click)="activateCell(11)" class="btn btn-outline-primary" [ngClass]="{'active': states[11]}"> </button>
    <br>
    <button (click)="activateCell(12)" class="btn btn-outline-primary" [ngClass]="{'active': states[12]}"> </button>
    <button (click)="activateCell(13)" class="btn btn-outline-primary" [ngClass]="{'active': states[13]}"> </button>
    <button (click)="activateCell(14)" class="btn btn-outline-primary" [ngClass]="{'active': states[14]}"> </button>
    <button (click)="activateCell(15)" class="btn btn-outline-primary" [ngClass]="{'active': states[15]}"> </button>
</div>

<div class="text-center">
    <button (click)="test()" class="btn btn-secondary"> </button>
</div>