.btn {
    width: 70px;
    height: 70px;
    border: 3px solid;
    margin: 3px;
}

h2 {
    font-weight: bold;
}

.highlighted {
    border: 5px solid;
    border-color: green;
    background-color: green;
}

.back {
    width: 70px;
    height: 70px;
}

.container {
    margin: 5px;
    width: auto;
    height: auto;
    border: 3px solid;
    border-color: blueviolet;
    display: inline-table;
    border-radius: 5px;
}

.header {
    width: auto;
    margin: 5px;
}

.buttonGrid {
    margin: 5px;
}

.footer {
    margin: 5px;
}

.close {
    color: blueviolet;
    opacity: .8;
    text-shadow: none;
    font-size: 2rem;
}

.mute {
    height: 40px;
}