<div class="content">
    <template #sequencerContainer></template>
</div>


<footer class="footer">

    <button class="btn btn-reset spacing" (click)="reset()">Reset</button>
    <button name="add" class="btn btn-add spacing" (click)="addSequencer()">Add Sound</button>
    
    <button class="btn btn-play spacing" (click)="switchPlaying()">Play</button>

    <span class="inputs">
        <label class="spacing-label" for="bpm"> <strong>BpM:</strong> </label>
        <input class="input spacing" type="number" name="bpm" #bpm (keyup)="changeBpm(bpm.value)" value="120">

        <label class="spacing-label" for="volume"> <strong>Volume:</strong> </label>
        <input class="input spacing" type="number" name="volume" #volume (keyup)="changeVolume(volume.value)" value="-6">
    </span>

    <button class="btn btn-save spacing" (click)="savePattern()">Save</button>
    <button class="btn btn-load spacing" (click)="loadPattern()">Load</button>

</footer>
