<div class="content">
    <template #sequencerContainer></template>
</div>


<footer class="footer">
    <button class="btn btn-danger" (click)="reset()">Reset</button>
    <label for="add"> Add another Sequencer: </label>
    <button name="add" class="btn btn-secondary" (click)="addSequencer()">+</button>
    
    <button class="btn btn-secondary" (click)="switchPlaying()">Play</button>

    <label for="bpm"> BPM: </label>
    <input class="input" type="number" name="bpm" #bpm (keyup)="changeBpm(bpm.value)" value="120">

    <label for="volume"> Volume: </label>
    <input class="input" type="number" name="volume" #volume (keyup)="changeVolume(volume.value)" value="-6">
</footer>
