.modal-content {
    background-color: #181a1b;
    color: white;
}

.close {
    color: white;
}

.btn {
    margin: 5px;
}

.alert-custom {
    color:  #f169b4;
    background-color:#810c4d;
    border-color: #e50073;
}